[user]
	name = Jérémy Doiron
	email = jeremy.doiron.1@gmail.com
[core]
	editor = code --wait
[init]
	defaultBranch = main
[submodule]
	recurse = true
	
[alias]
    st = status -s
    sta = status
    conf = config --global --edit
    cge = config --global --edit
    ci = commit
    co = checkout
    cod = checkout .
    rh = reset HEAD
    aa = add -A
    cdf = clean -df
    br = branch
    bra = branch -a
    pr = pull --rebase
    amend = commit -a --amend --no-edit
    ciam = commit -a --amend --no-edit
